.hamburger {
  transition: transform 400ms;
  user-select: none;
}

.hamburger__line {
  fill: none;
  stroke: $gold;
  stroke-width: 3.5;
  stroke-linecap: round;

  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;

  &--top,
  &--bottom {
    stroke-dasharray: 40 121;
  }

  &--middle {
    stroke-dasharray: 25;
  }
}
