// Resolutions
$desktop: "min-width: 1200px";
$tablet: "min-width: 768px";
$mobile: "max-width: 767px";

// variables for applying font
$main-font: "Lato", "Arial", sans-serif;

// variables for colors
$white: #ffffff;
$black: #000000;
$primaryBlack: #333333;

// variables for applying colors
$main-text-color: $white;
